<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      (TEG)natie[k]
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/tegtransp.png"></ion-img>
      <ion-card-content>
        <p>Welcome, this page is still a work in progress.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Apps:</ion-label>
      </ion-list-header>
      <ion-item href="https://play.google.com/store/apps/details?id=com.tegnatiek.veddit.full">
        <ion-icon slot="start" color="medium" name="videocam"></ion-icon>
        <ion-label>Viewdeo</ion-label>
      </ion-item>
      <ion-item href="https://play.google.com/store/apps/details?id=com.tegnatiek.veddit">
        <ion-icon slot="start" color="medium" name="videocam"></ion-icon>
        <ion-label>Viewdeo Free</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
